* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-container{
    height: auto;
    width: 100vw;
    background-color: antiquewhite;
    position: absolute;
}
.header{
    height: 8vh;
    background-color: aqua;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.header-left, .header-center, .header-right {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 4vw;
    padding-right: 4vw;
}

.header-left{
    background-color: aliceblue;
    justify-content: left;
}

.header-center{
    background-color: pink;
    justify-content: center;

}
.logo-img{
    height: 6vh;
    width: auto;
}

.header-right{
    background-color: blue;
    justify-content: right;
}

/* --- */

.main-container{
    height:92vh;
    width: 100vw;
    background-color: rgb(29, 150, 150);
    position: relative;
    padding: 4vw;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.main-container h1{
    font-size: 300%;
    line-height: 4rem;
}

#dynamic-time{
    margin-bottom: 3vh;
}

.directory{
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#dirContainer1, 
#dirContainer2, 
#dirContainer3, 
#dirContainer4{
    width: 100%;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6vh;
    margin-top: 6vh;
}

.flActive{
    opacity: 0;
    position: absolute;
    
}
#dirContainer1 img.flActive:hover,
#dirContainer2 img.flActive:hover,
#dirContainer3 img.flActive:hover,
#dirContainer4 img.flActive:hover{
    opacity: 1;
    transition: all 0.2s ease;    
}


.directory img{
    height: 25vh;
    width: auto;
}
.intro-text{
    text-align: end;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
}

.intro-text h1{
    margin-bottom: 5vh;
}

.intro-text h2{
    margin-bottom: 3vh;
    font-size: 1.5rem;
}

#intro-contact{
    display: flex;
    gap: 3vw;
}

#intro-contact h2{
    font-size: 2rem;
}
#intro-contact h2:hover{
    color: white;
}

.footer{
    height:40vh;
    width: 100vw;
    background-color: rgb(26, 85, 85);
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    box-sizing: border-box;
    position: relative;
    padding: 4vw;
    gap: 10px;

    
}
.contact-title h1{
    font-size: 400%;
}
.contact-info h2{
    margin-bottom: 2vh;
    font-size: 200%;
}
.contact-info h2:hover{
    color: rgb(95, 156, 141);
}


.fineprint{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 4vw;
}