* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
}

h1,h2,h3{
    font-weight: 300;
}
#nameBtn{
    transition: ease 0.2s;
}

#nameBtn:hover {
    color: #126889;
}


.page-container{
    height: auto;
    width: 100vw;
    position: absolute;
    font-family: "quasimoda", sans-serif;
    font-weight: 100;
    font-style: normal;
    transition: background-color 0.5s ease;
}

.headerPlaceHolder{
    position: sticky;
    top: 0;
    z-index: 105;

}
.header{
    height: 8vh;
    background-color: #126889;
    color: #EDED14;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    z-index: 100;
    
}

.header-left, .header-center, .header-right {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 4vw;
    padding-right: 4vw;
   
}

.header-left{
    justify-content: left;
}

.header-center{
    justify-content: center;

}
.logo-img{
    height: 5vh;
    width: auto;
}

.header-right{
    justify-content: right;
}

/* --- */

.main-container{
    height:92vh;
    width: 100vw;
    position: relative;
    padding: 4vw;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    z-index: 3;
}

.main-container h1{
    font-size: 300%;
    line-height: 4rem;
   
}

.content-container,
.about-container{
    min-height: 92vh;
    position: relative;
    height:auto;
}


/* about me */

.aboutMe{
    height: auto;
    /* background-color: #323F2F; */
}
.about-container{
    padding: 4vw;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* background-color: #323F2F; */
}

.about-title {
    font-size: 200%;
    color: #EDED14;
    height: auto;
    width: auto;
}
.blurEffect{
    height: 6vw;
    position: sticky;
    z-index: 5;
    top: 5vh;
    width: 100vw;
    opacity: 0;
    filter: blur(1rem);
    background-color: #126889;
}


.about-title h1{
    position: sticky;
    top: 8vw; 
    left: 4vw;
}


.about-content{
    color: #AAA7A2;
    line-height: 200%;
    font-size: 150%;
}



.about-content h2{
    margin-bottom: 10vh;
}
#profilePic{
    width: 40%;
}
/* // */

.directory-title1,.directory-title2,.directory-title3,.directory-title4{
    display: none;
    position: absolute;
    height: 20px;
    width: auto;
    z-index: 5;
    font-size: 160%;
    transform: translateY(2vh);
}

.back-button:hover{
    background-color: brown;
    color: antiquewhite;
}
#dynamic-time{
    margin-bottom: 3vh;
    color: #323F2F;
}

.directory {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.directoryTitleStyle{
    color: #FFD2FF;
    font-weight: 700;
    text-shadow: 1px 1px 2px #126889, 0 0 1em #EDED14, 0 0 0.2em #126889;

}

/* Initial state for directory items */
.directory > div {
    transform: translateY(-100vh); /* Start off-screen above the viewport */
    opacity: 0; /* Start with hidden items */
    animation: fallIn 1s ease-out forwards; /* Apply the animation */
}

/* Keyframes for falling effect */
@keyframes fallIn {
    0% {
        transform: translateY(-100vh);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Add delays for cascading effect */
.directory > div:nth-child(1) {
    animation-delay: 0.8s;
}

.directory > div:nth-child(2) {
    animation-delay: 0.6s;
}

.directory > div:nth-child(3) {
    animation-delay: 0.4s;
}

.directory > div:nth-child(4) {
    animation-delay: 0.2s;
}

#dirContainer1, #dirContainer2, #dirContainer3, #dirContainer4 {
    width: 100%;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6vh;
    margin-top: 6vh;
}
.page-title {
    position: absolute;
   
}

.active {
    opacity: 0;
    position: absolute;
    transition: transform 0.5s ease
}

.visible {
    opacity: 1;
    transform: scale(1.1);
}

.hide {
    opacity: 0;
}

.directory img {
    height: 25vh;
    width: auto;
}


.intro-text{
    text-align: end;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    color: #AAA7A2;
}

.intro-text h2{
    color:#126889
}
.intro-text h1{
    margin-bottom: 5vh;
}

.intro-text h2{
    margin-bottom: 3vh;
    font-size: 1.5rem;
}

#intro-contact{
    display: flex;
    gap: 3vw;
    z-index: 10;
}
#intro-contact h2 {
    margin-bottom: 0;
}
.introduction{
    color:#AAA7A2;
}

#intro-contact h2{
    font-size: 2rem;
    z-index: 3;
}

/* .buttonPlaceHolder{
    width: auto;
    position: absolute;
    height: fit-content;
    background-color: #F9F7F2;
    width: fit-content;
} */

/* button animation */
.button {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    width: auto;  
    height: fit-content;
    position: relative;
    white-space: nowrap;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 1000;

}

.button h3{
    font-size: 1.3rem;
}

.button-expand{
    position: absolute;
    height: 100%;
    width: 0;
    transition: width ease 0.7s;

}

.buttonContent{
    position:relative;
    height: inherit;
    width: inherit;
    padding-left: 1vh;
    padding-right: 1vh;
    z-index: 10;
}



.backToTop{
    width: fit-content;
    place-self: center;
    margin-bottom: 10vh;
    z-index: 10;
}


.buttonText{
    width: 10vw;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.buttonContainer{
    position: absolute;
    transition: width 0.5s;
    z-index: 10;
    /* overflow: hidden; */
}



.buttonContainer:hover{
    width: 10vw;
}



.footer{
    height:auto;
    width: 100vw;
    background-color: #AAA7A2;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    box-sizing: border-box;
    position: relative;
    padding-top: 4vw;
    padding-right: 4vw;
    padding-left: 4vw;
    padding-bottom:5vw;
    gap: 10px;

    
}
.contact-title h1{
    font-size: 400%;
    color:#FFD2FF;
}
.contact-info h2 {
    margin-bottom: 2vh;
    font-size: 150%;
}


.contact-info a {
    text-decoration: none;
    color: #F9F7F2; 
}

.contact-info a:hover {
    color: #EDED14;
}

.fineprint{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 4vw;
    margin-bottom: 3vh;
    color:#323F2F;
}


.contact-info .link a {
    color:#F9F7F2;
    text-decoration: none; 

}

.contact-info{
    margin-bottom: 2vh;
}

.contact-info .link a:hover {
    color: #EDED14; 
}

.backBtn {
    position: fixed;
    z-index: 100;
    margin-left: 4vw;
    margin-top: 2vh;


}

#doorContainer {
    text-align: center;
    background-color: #FFD2FF;
    height: 92vh;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 10vw;
    transition: ease 0.5s;
    padding-left: 40vw;
    padding-right: 40vw;
}


.scrollNotice{
    position: absolute;
    z-index: 100;
   bottom: 40vh;
   left:3vw;
   font-style: italic;
}


.project {
    width: auto;
    display: flex;
    flex-direction: column;
    z-index: 100;
    margin-top: 150vh;
    text-align: end;
    line-height: 300%;
    transition:  ease 0.5s;
}

.project h3 {
    overflow: hidden;
    font-size: 250%;
}


.doorCarousel{
    background-color: #AAA7A2;
    width: auto;
    height: 80vh;
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap:10vw;
}
.doorImage{
    width: 20vw;
    height: auto;
    transition: ease 0.5s;
    position: absolute;
 

}

.eachDoor{
    transition: ease 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    min-width: 20vw;
    min-height: 80vh;
    z-index: 51;

}

.thumbnailContainer{
    position:absolute;
    width: 100%;
    height: 80%;
    display: none;
    padding-top: 10vh; 
    transition:  opacity ease 1s;
}

.thumbnailPic{
    padding: 3vh;
    width: 20vw;
    max-height: 30vh;
    object-fit: contain;

}

.materialList{
    text-align: center;
    list-style-type:none;
    width: 100%;
    align-items: center;
    /* margin-top: 2vh; */
    color: #323F2F;
}

/* .spotlight{
    height: 80vh;
    width: 20vw;
    background-color: tomato;
    position: absolute;
    z-index: 50;
    place-self: center;
    
} */

/* .distanceDisplay {
    font-family: Arial, sans-serif;
    text-align: center;
} */

.eachDoor.blurred {
    filter: blur(3px);
}

.eachDoor.hovered {
    filter: none;
}

#project-info-container{
    min-height: 92vh;
    box-sizing: border-box;
    padding: 5vw;
    background-color: #F9F7F2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projectPhotoBanner{
    width: 100%;
    height: 40vh;
    background-color: #AAA7A2;
    position: relative;
}

#content,
#content-buttons{
    display: grid;
    height: auto;
    width: 100%;
    grid-template-columns: repeat(3,1fr);
    gap: 3vw;
    margin: 2vh;
    position: relative;
}


.content-center,
.content-left,
.content-right,
.progress{
    padding: 1vh;
}

.progress{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1;
    width: 100%;
    height: 20vh;
    position: relative;
}

#content-buttons * {
    place-self: center;
}


/* .content-left{
    background-color: #323F2F;

}

.content-center{
    background-color: #323F2F;
    
}
.content-right{
    background-color: #323F2F;
    
} */


.titleProject{
    z-index: 100;
}

.projectTitle{
    z-index: 100;
    color: black;
    font-size: large;
}

.materialListContent{
    list-style: none;
}
.projectDetails{
    line-height: 200%;
}

.projectButtonContainer{
    background-color:#AAA7A2;
    height: 20px;
    font-weight: 100px;
    position: relative;
}
